@import url("https://fonts.googleapis.com/css?family=Roboto");
@import "https://fonts.googleapis.com/css?family=Lato:300,400,700,900";
@import "https://fonts.googleapis.com/css?family=Oswald:300,400,700";
body {
  background-color: #252830;
  font-family: "Roboto", helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #555;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch; }

/* Titles */
h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", helvetica, sans-serif;
  font-weight: 300;
  color: #555; }

/* Paragraph & Typographic */
p {
  line-height: 28px;
  margin-bottom: 25px; }

.centered {
  text-align: center; }

/* Links */
a {
  color: #f85c37;
  word-wrap: break-word;
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in; }
  a:hover, a:focus {
    color: #555;
    text-decoration: none;
    outline: 0; }
  a:before, a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*---------------------------------------------------
 *	3.1 Topbar
 *--------------------------------------------------- */
#section-topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  overflow: visible;
  font: normal 16px/24px; }
  #section-topbar a {
    color: #fff; }

#topbar-inner {
  background: #1E2127;
  line-height: 0;
  text-align: center; }

/*	Top Bar
 *
 *	By default, top navigation bar uses "fixed" position */
#section-topbar ul#nav {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  border-right: 1px solid #222;
  /* For IE, the outcast */
  zoom: 1;
  *display: inline; }
  #section-topbar ul#nav > li {
    display: block;
    float: left;
    padding: 0; }
  #section-topbar ul#nav a {
    display: block;
    font: normal 11px/18px;
    text-decoration: none;
    padding: 18px 20px 18px 20px;
    border-left: 1px solid #222; }
    #section-topbar ul#nav a:hover {
      background: #111;
      text-decoration: none;
      border-left: 1px solid #111; }
  #section-topbar ul#nav .active a {
    background: #44bbaa;
    border-left: 1px solid #111; }
    #section-topbar ul#nav .active a:hover {
      background: #44bbaa; }
#section-topbar i {
  font-size: 25px; }

/*---------------------------------------------------
 *	SECTION WRAPS
 *--------------------------------------------------- */
/* Header Wrap */
#headerwrap {
  margin-top: 60px;
  padding-top: 140px;
  text-align: center;
  background-attachment: relative;
  background-position: center center;
  min-height: 500px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  #headerwrap h1 {
    font-size: 80px;
    color: #fff; }
  #headerwrap h3 {
    font-size: 20px;
    color: #fff; }

/* Intnro Wrap */
#intro {
  background: #2c3e50;
  padding-top: 60px;
  padding-bottom: 60px;
  color: #fff; }
  #intro h5 {
    color: #fff; }

p {
  color: #fff; }

#intro i {
  color: #fff;
  font-size: 20px;
  padding-right: 8px;
  vertical-align: middle; }

#skillswrap {
  background: #2c3e50;
  padding-top: 60px;
  padding-bottom: 60px;
  color: #fff; }
  #skillswrap h5 {
    color: #fff; }

p {
  color: #fff; }

#footwrap {
  background: #2f2f2f;
  padding-top: 50px;
  padding-bottom: 50px; }
  #footwrap p, #footwrap h5 {
    color: #fff; }
  #footwrap t {
    font-weight: 700; }
  #footwrap i {
    padding-right: 8px;
    color: #1abc9c; }

/* Copyright Wrap */
#c {
  background: #111;
  padding-top: 15px;
  text-align: right; }
  #c p {
    color: #fff; }

/* Global Values */
.desc {
  padding-top: 50px; }
  .desc p {
    color: #2f2f2f; }
  .desc t {
    color: #34495e;
    font-weight: 700; }
  .desc imp {
    padding: 6px;
    color: #fff;
    background: #34495e; }
  .desc more {
    color: #95a5a6; }

sm {
  font-size: 12px; }

.container {
  min-width: 100%; }

.hovereffect {
  width: 150;
  height: 225;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  margin: 1em;
  margin-bottom: 0.25em;
  text-overflow: ellipsis; }
  .hovereffect .title {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 125px;
    display: block;
    overflow: hidden;
    color: #fff;
    text-align: left;
    font-size: small;
    font-weight: bold; }
  .hovereffect .sub-text {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 125px;
    display: block;
    overflow: hidden;
    color: #BDBDBD;
    text-align: left;
    font-size: smaller;
    font-weight: normal; }
  .hovereffect .overlay {
    width: 100%;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: auto;
    bottom: 0;
    padding: 1em;
    height: 4.75em;
    color: #fff;
    visibility: hidden; }
  .hovereffect img {
    display: block;
    position: relative;
    transition: opacity 0.35s;
    transition: border 0.35s;
    opacity: 1;
    width: 150px;
    height: 225px; }
  .hovereffect:hover img {
    opacity: 0.6;
    border-style: solid;
    border-width: 3px;
    border-color: #e53935;
    overflow: auto; }
  .hovereffect a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    margin: 50px 0 0 0;
    background-color: transparent; }
    .hovereffect a.info:hover {
      box-shadow: 0 0 5px #fff; }
  .hovereffect p.icon-links a {
    float: right;
    color: #fff;
    font-size: 1.4em;
    right: 0; }
  .hovereffect:hover p.icon-links a:hover, .hovereffect:hover p.icon-links a:focus {
    color: #555; }
  .hovereffect h2 {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(125%, -12%, 0);
    transform: translate3d(125%, -12%, 0);
    visibility: visible; }
  .hovereffect p.icon-links a {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(125%, -12%, 0);
    transform: translate3d(125%, -12%, 0);
    visibility: visible; }
    .hovereffect p.icon-links a span:before {
      display: inline-block;
      padding: 8px 10px;
      speak: none;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
  .hovereffect:hover .overlay, .hovereffect:hover h2, .hovereffect:hover p.icon-links a {
    -webkit-transform: translate3d(10%, -12%, 0);
    transform: translate3d(10%, -12%, 0); }
  .hovereffect:hover h2 {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s; }
  .hovereffect:hover p.icon-links a:nth-child(3) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s; }
  .hovereffect:hover p.icon-links a:nth-child(2) {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s; }
  .hovereffect:hover p.icon-links a:first-child {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s; }

.brand {
  font-size: 18pt;
  color: #fff;
  font-weight: bold; }
  .brand span {
    margin: 10px;
    top: 20px; }

.heart {
  opacity: 0.5; }

.form-control {
  padding: 0;
  color: #555; }

#movie-title {
  color: #fff;
  font-weight: bold; }

.summary {
  font-size: 18pt; }

.sub-text {
  color: #BDBDBD;
  text-align: left;
  font-size: 12pt;
  font-weight: normal; }

.fa-star, .fa-star-half-full {
  color: #FFD600; }

#like {
  font-size: 20pt;
  position: absolute;
  top: 0;
  right: 0;
  margin: 1.2em; }

/* Input placeholder */
#topbar-inner > div.container > div > div.col-sm-3 > form > input {
  height: 2rem;
  margin-bottom: 0;
  padding-top: 0.5em; }

::-webkit-input-placeholder {
  font-size: 1em;
  color: #d0cdfa; }

:-moz-placeholder {
  /* older Firefox */
  font-size: 1em;
  color: #d0cdfa; }

::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 1em;
  color: #d0cdfa; }

:-ms-input-placeholder {
  font-size: 1em;
  color: #d0cdfa; }

#topbar-inner > div.container > div > div:nth-child(1) > ul > li > a {
  font-weight: normal;
  background-color: transparent;
  border: none;
  color: #d0cdfa;
  cursor: pointer;
  padding-top: 1.8em;
  min-height: 100%; }
  #topbar-inner > div.container > div > div:nth-child(1) > ul > li > a:hover {
    background-color: #111; }

#topbar-inner > div.container > div > div:nth-child(2) > ul > li > a {
  font-weight: normal;
  background-color: transparent;
  border: none;
  color: #d0cdfa;
  cursor: pointer;
  padding-top: 1.8em;
  min-height: 100%; }
  #topbar-inner > div.container > div > div:nth-child(2) > ul > li > a:hover {
    background-color: #111; }

.genre {
  overflow: hidden; }

.tag {
  display: inline-block;
  font-size: 0.8em;
  background-color: #555;
  color: #111;
  margin-right: 1em;
  padding: 0.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 10px; }

.crew-name {
  font-weight: bold;
  padding: 0;
  margin: 0; }

.crew-job {
  padding: 0;
  margin: 0;
  padding-bottom: 1.2em; }

.profile-header-container {
  margin: 0 auto;
  text-align: center; }

.profile-header-img {
  padding: 0; }
  .profile-header-img > div.circle {
    width: 100%;
    padding-top: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 100px;
    border: 2px solid #f44336; }

.profile-header {
  margin-top: 0; }

.cast-name {
  font-weight: bold;
  padding: 0;
  margin: 0;
  line-height: 1.3em; }

.cast-character {
  font-weight: normal;
  font-size: 0.8em;
  padding: 0;
  margin: 0;
  margin-top: 0.2em;
  color: #aaa;
  line-height: 1.2em; }

.cast-title {
  font-weight: bold;
  font-size: 1.7em;
  color: #fff;
  padding: 0;
  margin: 0;
  margin-bottom: 0.5em; }

/* Variables */
/* Transition */
/* Do No Edit */
/* End */
/* Colours */
/* Screen Sizes */
/* End of Variables */
/* Styles */
* {
  box-sizing: border-box; }

input[type="checkbox"]#search + label {
  display: inline-block;
  margin: 15px;
  position: relative;
  z-index: 100;
  float: right; }
  input[type="checkbox"]#search + label span {
    float: left;
    position: relative;
    top: 0;
    left: 0;
    transition: all 0.5s ease-in-out 0.1s;
    color: #999;
    font-size: 33px; }
    input[type="checkbox"]#search + label span:hover {
      color: #FFFFFF; }
  input[type="checkbox"]#search + label:hover {
    cursor: pointer; }
input[type="checkbox"]#search:checked + label span {
  color: #FFFFFF; }
input[type="checkbox"]#search:checked ~ main section.search {
  opacity: 1;
  visibility: visible;
  top: 0;
  height: 12rem;
  z-index: 99; }
  input[type="checkbox"]#search:checked ~ main section.search form {
    top: 15vh; }

section.search {
  width: 100%;
  height: auto;
  position: relative;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden; }
  section.search form {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 991px;
    max-width: 100%; }
    section.search form .advanced {
      float: left;
      width: 100%;
      padding: 20px 0; }
    section.search form input {
      font-family: "Telefon Black", Sans-Serif;
      color: #FFFFFF; }
      section.search form input[type="search"] {
        float: left;
        width: 100%;
        background-color: transparent;
        border: none;
        font-size: 6rem;
        font-weight: bold;
        padding: 0;
        transition: all 0.5s ease-in-out 0.1s; }
        section.search form input[type="search"]:focus {
          border-color: white;
          color: white;
          outline: 0px; }
      section.search form input + label {
        font-family: "Telefon Black", Sans-Serif;
        color: #FFFFFF;
        cursor: pointer;
        padding: 0 12px 0 2px;
        color: #666; }

/*# sourceMappingURL=style.css.map */
