@import 'https://fonts.googleapis.com/css?family=Lato:300,400,700,900';
@import 'https://fonts.googleapis.com/css?family=Oswald:300,400,700';

/* Variables */
$gutter:          15px;

/* Transition */
$ts-target:       all;
$ts-speed:        0.5s;
$ts-effect:       ease-in-out;
$ts-delay:        0.1s;

/* Do No Edit */
$transition:      $ts-target $ts-speed $ts-effect $ts-delay;
/* End */

/* Colours */
$black:           #000000;
$white:           #FFFFFF;

$primary:         #00CC66;
$secondary:       lighten(desaturate(#00CC66,20%), 10%);

$bodybg:          $white;

/* Screen Sizes */
$xs-min:          600px;
$sm-min:          768px;
$md-min:          992px;
$lg-min:          1200px;
$xl-min:          1500px;
$xs-max:          $sm-min - 1;
$sm-max:          $md-min - 1;
$md-max:          $lg-min - 1;
$lg-max:          $xl-min - 1;

/* End of Variables */

/* Styles */

* {
  box-sizing: border-box;
}

input[type="checkbox"] {
  &#search {
    & + label {
      display: inline-block;
      margin: 15px;
      position: relative;
      z-index: 100;
      float: right;

      span {
        float: left;
        position: relative;
        top: 0;
        left: 0;
        transition: $transition;
        color: #999;
        font-size: 33px;

        &:hover {
          color: $white;
        }
      }
      &:hover {
        cursor: pointer;
      }
    }
    &:checked {
      & + label {
        span {
          color: $white;
        }
      }
      & ~ main section.search {
        opacity: 1;
        visibility: visible;
        top: 0;
        height: 12rem;
        z-index: 99;

        form {
          top: 15vh;
        }
      }
    }
  }
}

section {
  &.search {
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;

    form {
      position: absolute;
      top: 0%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 991px;
      max-width: 100%;

      .advanced {
        float: left;
        width: 100%;
        padding: 20px 0;
      }

      input {
        font-family: "Telefon Black", Sans-Serif;
        color: $white;

        &[type="search"] {
          float: left;
          width: 100%;
          background-color: transparent;
          border: none;
          font-size: 6rem;
          font-weight: bold;
          padding: 0;
          transition: $transition;

          &:focus {
            border-color: rgba(255,255,255,1);
            color: rgba(255,255,255,1);
            outline: 0px;
          }
        }
        & + label {
          font-family: "Telefon Black", Sans-Serif;
          color: $white;
          cursor: pointer;
          padding: 0 12px 0 2px;
          color: #666;
        }
      }
    }
  }
}
