@import url("https://fonts.googleapis.com/css?family=Roboto");
@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css';
@import "https://fonts.googleapis.com/css?family=Lato:300,400,700,900";
@import "https://fonts.googleapis.com/css?family=Oswald:300,400,700";
body {
  background-color: #eee;
  font-family: "Roboto", helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #555;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch; }

/* Titles */
h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", helvetica, sans-serif;
  font-weight: 300;
  color: #555; }

/* Paragraph & Typographic */
p {
  line-height: 28px;
  margin-bottom: 25px; }

.centered {
  text-align: center; }

/* Variables */
/* Transition */
/* Do No Edit */
/* End */
/* Colours */
/* Screen Sizes */
/* End of Variables */
/* Styles */
* {
  box-sizing: border-box; }

input[type="checkbox"]#search + label {
  display: inline-block;
  margin: 15px;
  position: relative;
  z-index: 100;
  float: right; }
  input[type="checkbox"]#search + label span {
    float: left;
    position: relative;
    top: 0;
    left: 0;
    transition: all 0.5s ease-in-out 0.1s;
    color: #999;
    font-size: 33px; }
    input[type="checkbox"]#search + label span:hover {
      color: #202125; }
  input[type="checkbox"]#search + label:hover {
    cursor: pointer; }
input[type="checkbox"]#search:checked + label span {
  color: #202125; }
input[type="checkbox"]#search:checked ~ main section.search {
  opacity: 1;
  visibility: visible;
  top: 0;
  height: 12rem;
  z-index: 99; }
  input[type="checkbox"]#search:checked ~ main section.search form {
    top: 15vh; }

section.search {
  width: 100%;
  height: auto;
  position: relative;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden; }
  section.search form {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 991px;
    max-width: 100%; }
    section.search form .advanced {
      float: left;
      width: 100%;
      padding: 20px 0; }
    section.search form input {
      font-family: "Roboto", helvetica, sans-serif;
      color: #202125; }
      section.search form input[type="search"] {
        float: left;
        width: 100%;
        background-color: transparent;
        border: none;
        font-size: 6rem;
        font-weight: bold;
        padding: 0;
        transition: all 0.5s ease-in-out 0.1s; }
        section.search form input[type="search"]:focus {
          border-color: white;
          color: #202125;
          outline: 0px; }
      section.search form input + label {
        font-family: "Roboto", helvetica, sans-serif;
        color: #202125;
        cursor: pointer;
        padding: 0 12px 0 2px;
        color: #666; }

.hovereffect {
  width: 150;
  height: 225;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  margin: 1em;
  margin-bottom: 0.25em;
  text-overflow: ellipsis; }
  .hovereffect .title {
    margin-top: 1em;
    width: 150px;
    display: block;
    overflow: hidden;
    color: #202125;
    text-align: left;
    font-size: 12pt;
    font-weight: 900;
    text-transform: uppercase; }
  .hovereffect .sub-text {
    width: 125px;
    display: block;
    overflow: hidden;
    color: #202125;
    text-align: left;
    font-size: 12pt;
    font-style: italic;
    font-weight: 100; }
  .hovereffect img {
    display: block;
    position: relative;
    transition: opacity 0.35s;
    transition: border 0.35s;
    opacity: 1;
    width: 150px;
    height: 225px; }
  .hovereffect:hover img {
    opacity: 0.6;
    border-style: solid;
    border-width: 3px;
    border-color: #e53935;
    overflow: auto; }
  .hovereffect a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    margin: 50px 0 0 0;
    background-color: transparent; }
    .hovereffect a.info:hover {
      box-shadow: 0 0 5px #FFFFFF; }
  .hovereffect a:hover, .hovereffect a:visited, .hovereffect a:link, .hovereffect a:active {
    text-decoration: none; }
  .hovereffect p.icon-links a {
    float: right;
    color: #FFFFFF;
    font-size: 1.4em;
    right: 0; }
  .hovereffect:hover p.icon-links a:hover, .hovereffect:hover p.icon-links a:focus {
    color: #555; }
  .hovereffect h2 {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(125%, -12%, 0);
    transform: translate3d(125%, -12%, 0);
    visibility: visible; }
  .hovereffect p.icon-links a {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(125%, -12%, 0);
    transform: translate3d(125%, -12%, 0);
    visibility: visible; }
    .hovereffect p.icon-links a span:before {
      display: inline-block;
      padding: 8px 10px;
      speak: none;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
  .hovereffect:hover .overlay, .hovereffect:hover h2, .hovereffect:hover p.icon-links a {
    -webkit-transform: translate3d(10%, -12%, 0);
    transform: translate3d(10%, -12%, 0); }
  .hovereffect:hover h2 {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s; }
  .hovereffect:hover p.icon-links a:nth-child(3) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s; }
  .hovereffect:hover p.icon-links a:nth-child(2) {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s; }
  .hovereffect:hover p.icon-links a:first-child {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s; }

.preview {
  width: 80%;
  margin: auto;
  overflow: overlay;
  display: flex;
  z-index: -2; }

.poster {
  float: left;
  background-size: cover; }
  .poster img {
    width: 20vw;
    opacity: 0; }

.brief {
  background-size: cover;
  width: 100%;
  position: relative;
  z-index: 1;
  display: flex; }
  .brief:before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    background: inherit;
    filter: opacity(100) grayscale(100%) contrast(130%); }
  .brief .custom-bg {
    width: 100%; }
  .brief h1 {
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 700;
    margin: 1.5em auto auto 0.75em; }
  .brief h4 {
    color: #ddd;
    font-weight: 100;
    font-style: italic;
    margin: auto auto auto 1.2em; }
  .brief p {
    color: #FFFFFF;
    font-size: 12pt;
    margin: 1.5em auto auto 1.7em;
    line-height: 1.3em;
    width: 70%; }

.main-container {
  padding-top: 4em;
  width: 100vw;
  margin-left: 0;
  background: #000C1F; }
  .main-container .controls {
    margin: 0 auto;
    padding: 2em 0 0 0;
    text-align: center; }

label {
  color: #999;
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  background: #000C1F;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9); }
  label:hover {
    color: #FFFFFF; }

.coverflow-list {
  width: fit-content;
  margin: auto;
  -webkit-transform: perspective(900px);
  -webkit-transform-style: preserve-3d;
  -webkit-perspective-origin: 100% 30%; }
  .coverflow-list .coverflow-item {
    display: inline-block;
    background: #000C1F;
    margin: 0 -30px;
    position: relative;
    -webkit-transition: all 0.4s ease;
    background: #000C1F;
    -webkit-transform: rotateY(45deg); }
    .coverflow-list .coverflow-item .album-cover {
      display: block;
      margin: 0; }
      .coverflow-list .coverflow-item .album-cover img {
        opacity: 0.5; }
    .coverflow-list .coverflow-item .album-name {
      text-align: center;
      display: block;
      color: #444; }
    .coverflow-list .coverflow-item label {
      padding: 0;
      border: none;
      display: block;
      text-shadow: none; }

/* Now apply 3D transforms (never done this before!) */
input[type="radio"] {
  display: none; }
  input[type="radio"]:checked + .coverflow-item {
    -webkit-transform: rotateY(0deg);
    margin: 0 auto;
    background: #000C1F;
    transition: all 0.4s ease; }
    input[type="radio"]:checked + .coverflow-item img {
      opacity: 1; }
    input[type="radio"]:checked + .coverflow-item figcaption {
      color: #FFFFFF; }
    input[type="radio"]:checked + .coverflow-item ~ .coverflow-item {
      -webkit-transform: rotateY(-45deg);
      background: #515151; }

/*@keyframes cover-forward {
 *  0% { transform: rotateY( 45deg ); }
 *  50% { transform: rotateY( 0deg ) translate3d( 60px,0,0 ) scale3d(1.2,1.2,1.2); z-index:999; }
 *  100% { transform: rotateY( 45deg ) translate3d( 0,0,0 ) scale3d(1,1,1); }
 *}
 *
 *@keyframes cover-return {
 *  0% { transform: rotateY( 45deg ); }
 *  100% { transform: rotateY( 0deg ) translate3d( 150px,0,0 ) scale3d(1.2,1.2,1.2); }
 *} */
.nav-link {
  letter-spacing: 5.4px;
  font-size: 12pt;
  font-weight: 100;
  font-style: italic;
  padding: 0;
  text-transform: uppercase; }

.active .nav-link {
  font-weight: 700; }

.active .nav-link:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 70%;
  padding-top: 0px;
  border-bottom: 3px solid #e53935; }

.icon .nav-link {
  font-size: 24pt; }

.episode-list {
  width: 80%;
  margin-top: 10vh; }
  .episode-list h2 {
    font-weight: 700;
    font-size: 12pt;
    letter-spacing: 5.4px; }
  .episode-list .seasons {
    text-align: right;
    margin-right: 6em;
    font-weight: 100; }
    .episode-list .seasons h4 {
      font-size: 12pt;
      margin-top: 0.75em; }
  .episode-list .episode {
    font-size: 12pt;
    border-top: solid 1px; }
    .episode-list .episode :hover {
      background-color: #ddd; }
  .episode-list .episode p {
    margin: 1em; }
  .episode-list .episode .time {
    text-align: right; }

/*# sourceMappingURL=style.css.map */
